<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Geolocation
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Geolocation</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-button (click)="get()">Get Location</ion-button>
<ion-button [disabled]="watching" (click)="watch()">Watch</ion-button>
<ion-button [disabled]="!watching"(click)="stop()">Stop</ion-button>
<br/>
<ion-label>{{label}}</ion-label>
<ion-label>{{count}}</ion-label>
</ion-content>
